<h1>Edit User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "User (don't save)", to: Routes.user_path(@conn, :show, @user), class: "btn btn-primary"  %></span>
