<div class="row">
  <div class="col-12">
    <%= if @current_user do %>
    	<h1>Task Tracker Home</h1>
    <% else %>
    	<h1>Welcome to Task Tracker</h1>
      <%= link "Register", to: Routes.user_path(@conn, :new) %>
    <% end %>
  </div>
</div>

